.jumbotronn{
  background: #428BCA;
  color: #fff;
  padding: 20px 0;
}
.jumbotron h2{
  
  color: #fff;
  
}

.jumbotron {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
    background-image: url("../img/bg.png");
    padding: 20px 0;
}